<nav class="bg-pink-600 p-4">
    <ul class="flex space-x-6 justify-center">
      <li><a routerLink="/" class="text-white hover:text-pink-200">Inicio</a></li>
      <li><a routerLink="/historia" class="text-white hover:text-pink-200">Nuestra Historia</a></li>
      <li><a routerLink="/recuerdos" class="text-white hover:text-pink-200">Recuerdos</a></li>
      <li><a routerLink="/razones" class="text-white hover:text-pink-200">Razones por las que te amo</a></li>
      <li><a routerLink="/canciones" class="text-white hover:text-pink-200">Canciones de Nuestra Vida</a></li>
      <!-- Añade más enlaces aquí -->
    </ul>
  </nav>
<router-outlet></router-outlet>